<div class="flex flex-col gap-y-1">
  <% board.each { |row| %>
    <div class="flex gap-x-1">
      <% row.each { |element| %>
        <% if element == 1%>
          <%= image_tag 'bomb.svg', size: '32x32', alt: 'bomb-icon' %>
        <% else %>
          <div class="w-8 h-8 rounded-lg bg-gray-100"></div>
        <% end %>
      <% } %>
    </div>
  <% } %>
</div>