<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <!--  Creator information-->
  <div class="flex flex-col mb-6 block text-gray-700 text-md font-bold">
    <div class="flex gap-x-1">
      <div>
        Board name:
      </div>
      <div>
        <%= @game.name %>
      </div>
    </div>

    <div class="flex gap-x-1">
      <div>
        Email:
      </div>
      <div>
        <%= @game.email %>
      </div>
    </div>
  </div>

  <%= render "shared/board", locals: { game: @game } %>
</div>