<div>
  <!--  Creator information-->
  <div class="flex flex-col">
    <div class="flex gap-x-1">
      <div>
        Board name:
      </div>
      <div>
        <%= @game.name %>
      </div>
    </div>

    <div class="flex gap-x-1">
      <div>
        Email:
      </div>
      <div>
        <%= @game.email %>
      </div>
    </div>
  </div>

  <!--  Board representation-->
  <div class="flex flex-col gap-y-1">
    <% (0...@game.width).each { |i| %>
      <div class="flex gap-x-1">
        <% (0...@game.height).each { |j| %>
          <% if @game.config.dig(i.to_s, j.to_s) %>
            <%= image_tag 'bomb.svg', size: '32x32', alt: 'bomb-icon' %>
          <% else %>
            <div class="w-8 h-8 rounded-lg bg-gray-100"></div>
          <% end %>
        <% } %>
      </div>
    <% } %>
  </div>
</div>